<?xml version="1.0"?>
<model>
  <name>AUBO_I10</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Trung</name>
    <email>trung@example.com</email>
  </author>
  <description>
    AUBO I10 collaborative robot with 6 DOF.
  </description>
</model>
	